<div id="main-content">
<div class="container">

    <h2>Book & Pay online</h2>
    <p class="sub-heading">You've opted to book your stay and pay online, please fill in the forn below.</p>

    <p>Here we will integrate our paygate custom user interface to capture user payment details. It may require the user being redirected temporarily to the poaygate's website.</p>
</div>
</div>