<div id="main-content">
<div class="container">

    <div id="comments">
        <h3>3 Reviews</h3>

        <div class="comment">
            <a href="#" class="profile">
                <img src="images/profiles/sarah.jpg" alt="" class="profile rounded-img" width="60" height="60">
            </a>
            <div class="comment-bubble">
                <p class="date">
                    <span class="day">24</span>
                    <span>
                        <span class="month">AUG</span>
                        <span class="year">2014</span>
                    </span>
                </p>
                <p class="profile-name">Sarah Socks</p>
                <p>
                    <span class="rating">
                        <span class="star "></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                    </span>
                </p>
                <p>
                    Sed do eiusmod tempor incididunt ut labore et dolore magi aliqua. Ut enim adeninim veniam, quis nostrud
                    exercitation ullamco. orem ipsum dolor sit amet, sic consectetur adipisicing elit, sed adipisicing elit!
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div><!-- end .comment -->

        <div class="comment">
            <a href="#" class="profile">
                <img src="images/profiles/lucy.jpg" alt="" class="profile rounded-img" width="60" height="60">
            </a>
            <div class="comment-bubble">
                <p class="date">
                    <span class="day">24</span>
                    <span>
                        <span class="month">APR</span>
                        <span class="year">2014</span>
                    </span>
                </p>
                <p class="profile-name">Lucy Letter</p>
                <p>
                    <span class="rating">
                        <span class="star "></span>
                        <span class="star"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                    </span>
                </p>
                <p>
                    Sed do eiusmod tempor incididunt ut labore et dolore magi aliqua. Ut enim adeninim veniam, quis nostrud
                    exercitation ullamco. orem ipsum dolor sit amet, sic consectetur adipisicing
                </p>
            </div>
        </div><!-- end .comment.inner -->

        <div class="comment">
            <a href="#" class="profile">
                <img src="images/profiles/jane.jpg" alt="" class="profile rounded-img" width="60" height="60">
            </a>
            <div class="comment-bubble">
                <p class="date">
                    <span class="day">17</span>
                    <span>
                        <span class="month">APR</span>
                        <span class="year">2014</span>
                    </span>
                </p>
                <p class="profile-name">Jane Doe</p>
                <p>
                    <span class="rating">
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                        <span class="star filled"></span>
                    </span>
                </p>
                <p>
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
                <p>
                    Sed do eiusmod tempor incididunt ut labore et dolore magi aliqua. Ut enim adeninim veniam, quis nostrud
                    exercitation ullamco. orem ipsum dolor sit amet, sic consectetur adipisicing elit, sed adipisicing elit!
                </p>
            </div>
        </div><!-- end .comment.author-comment -->

    </div>
    <div class="row" id="post-comment">

        <h3>Leave a review</h3>

        <form action="#">
            <div class="container">
                <p class="column-3">
                    <label>Name:</label>
                    <input type="text">
                </p>
                <p class="column-3">
                    <label>Email:</label>
                    <input type="text">
                </p>
                <p class="column-3">
                    <label>Stars:</label>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
            </div>
        <div class="container">
            <p class="column-9">
                <label>Review:</label>
                <textarea></textarea>
            </p>
        </div>
            <div class="container">
                <p>
                    <input type="submit" class="button" value="Post review">
                </p>
            </div>
        </form>

    </div>

</div>
</div>